*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
header{
    width: 100%;
    height: 162px;
}
body{
    background-color:#4d008c;
}
main{
    display: flex;
    width: 100%;
    height: 550px;
    position: relative;
}
.muñeca{
    width: 100%;
}
.cuadro{
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 220px;
    position: absolute;
    top: 100px;
    background-color: #ffffff;
    left: 700px;
}
.flor{
    align-items: center;


}