*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color:#4d008c;

}
main{
    display: flex;
    width: 100%;
    height: auto;
}
.muñeca{
    width: 100%;
}
.cuadro{
    width: 100%;
}